apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ template "name" . }}-ingress
  labels:
    app: {{ template "name" . }}-ingress
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- range $key, $value := .Values.ingress.annotations }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  rules:
  - host: {{ .Values.hostname }}
    http:
      paths:
      - path: /*
        backend:
          serviceName: {{ if .Values.varnish.enabled }}varnish{{ else }}api{{ end }}
          servicePort: 80
  - host: {{ .Values.mercure.hostname }}
    http:
      paths:
      - path: /*
        backend:
          serviceName: mercure
          servicePort: 80
  {{- if .Values.ingress.tls }}
  tls:
{{ toYaml .Values.ingress.tls | indent 4 }}
  {{- end -}}
