# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
    - image: .circleci/php:7.2.10-fpm-stretch-node-browsers-legacy

    steps:
    - checkout
    - run:
        command: pwd && ls -la