includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    level: max
    paths:
        - src
        - tests
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml
    bootstrapFiles:
        - %rootDir%/../../../vendor/bin/.phpunit/phpunit/vendor/autoload.php
